<mat-toolbar color="primary" class="mat-elevation-z8">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span class="example-spacer"></span>

  <form class="example-form" [style.fontSize.px]="14">
    <mat-form-field appearance="standard" class="example-full-width">
      <input matInput placeholder="搜索">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- <a mat-button href="https://www.google.com/" target="_blank">Search</a> -->
  </form>

  <span class="example-spacer"></span>
</mat-toolbar>
