<div class="list-container">
  <!-- <app-youtube-player-example></app-youtube-player-example> -->
  <!-- <app-address-form></app-address-form> -->
  <!-- <app-navigation></app-navigation> -->
  <!-- <app-dashboard></app-dashboard> -->
  <!-- <app-tree></app-tree> -->
  <app-toolbar></app-toolbar>
  <!-- <app-table style="flex-grow: 1; display: flex; justify-content: center; align-items: center;"></app-table> -->
  <app-tabs style="flex-grow: 1; display: flex; justify-content: center;"></app-tabs>
  <!-- <router-outlet></router-outlet> -->
</div>
